<!-- Default form register -->
<div class="container p-3 mt-3">
	<form class="mx-auto" action="{{ userPath }}" method="POST" style="max-width:450px">
		<h2 class="text-center">Sign Up</h2>
		
		<!-- Default input email -->
		<div class="form-group">
			<label for="email">Your email</label>
			<input type="email" class="form-control" name="user[email]" id="user[email]" required>
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		</div>

		<!-- Default input first name -->
		<div class="form-group">
			<label for="fname">First name</label>
			<input type="text" class="form-control" name="user[fname]" id="user[fname]" required>
		</div>

		<!-- Default input last name -->
		<div class="form-group">
			<label for="fname">Last name</label>
			<input type="text" class="form-control" name="user[lname]" id="user[lname]" required>
		</div>

		<!-- Default input password -->
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" name="user[password]" id="user[password]" required>
		</div>

		<div class="text-center mt-4">
			<button class="btn btn-primary" type="submit">Register</button>
			<small id="signHelp" class="form-text">Already have an account? <a href="{{ loginPath }}">Sign In</a></small>
		</div>
	</form>
</div>
<!-- Default form register -->